{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "settings": {
    "react": {
      "pragma": "React" // Pragma to use, default to "React"
    }
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-no-bind": 1,
    "no-var": 1,
    "vars-on-top": 0,
    "camelcase": 0,
    "comma-dangle": [2, "always-multiline"],
    "max-len": [2, 80, 4, {"ignoreUrls": true}],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "arrow-body-style": 0,
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "expect": true,
    "chai": true,
    "sinon": true,
    "should": true
  }
}