@import "global/styles/utilities.css";

.dataLabel {
  color: $color-tuna;
  font-size: $font-size-text;
  font-weight: 700;
}

.graphWrapper {
  margin-left: -45px;
}

.graphFooter {
  width: 85%;
  margin-top: $space-xs;
}

.hrDataRow {
  display: flex;
  width: 375px;
  margin-left: 25px;
}

.hrDataItem {
  flex-grow: 1;
  text-align: center;
  color: $color-data-red;
  font-weight: 700;
}

.hrDataItem:not(:last-child) {
  border-right: 1px solid $color-tuna;
}

.stepDataWrapper {
  height: 100%;
  text-align: center;
  color: $color-tuna;
}

.centeredColumn {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.stepData {
  font-weight: 700;
  color: $color-data-blue;
  margin-bottom: $space-xs;
}

.distanceData {
  font-weight: 700;
  color: $color-data-blue;
  margin-top: $space-xs;
}

.weightData {
  font-weight: 700;
  color: $color-data-orange;
  margin-top: $space-xs;
  margin-bottom: $space-xs;
}

.bfData {
  font-weight: 700;
  color: $color-data-yellow;
  margin-top: $space-xs;
  margin-bottom: $space-xs;
}

.cycleData {
  font-weight: 700;
  color: $color-data-green;
  margin-top: $space-xs;
  margin-bottom: $space-xs;
}

.sleepData {
  font-weight: 700;
  color: $color-data-violet;
  margin-top: $space-xs;
  margin-bottom: $space-xs;
}
